@import '../../../assets/scss/material_theming.scss';
.article-container {
    opacity: 0;
}

.markdown-showup {
    z-index: 10;
    position: fixed;
    transition: transform 200ms ease;
    transform: translateX(80%);
    top: 48%;
    right: 0;
}

.description {
    font-family: Zcool_fun, Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    .username {
        flex: 1;
    }
    .data {
        flex: 2;
    }
    .spacer {
        flex: auto;
    }
}

.last-next {
    display: flex;
    justify-content: space-between;
    .last {
        flex: auto;
        text-align: left;
    }
    .spacer {
        flex: auto;
    }
    .next {
        flex: auto;
        text-align: right;
    }
    a {
        color: map-get($mat-teal, 500);
        text-decoration: none;
        &:hover {
            color: map-get($mat-orange, 500);
        }
    }
}