@import '../../../assets/scss/material_theming.scss';
.article-container {
    opacity: 0;
}

.markdown-showup {
    z-index: 10;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.markdown-option {
    z-index: 9;
    position: fixed;
    bottom: 33px;
    right: 33px;
    .mat-icon {
        color: white;
    }
}

.description {
    font-family: $font-title;
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
    .username {
        display: inline-block;
        width: 300px;
    }
    .date {
        display: inline-block;
        width: 300px;
    }
}

.last-next {
    display: block;
    .last {
        display: inline-block;
        text-align: left;
        width: 49%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .next {
        display: inline-block;
        text-align: right;
        width: 49%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    a {
        color: map-get($mat-teal, 500);
        text-decoration: none;
        &:hover {
            color: map-get($mat-orange, 500);
        }
    }
}

@media (max-width: 768px) {
    .article-container {
        margin-top: 48px;
        padding: 0;
    }

    .description {
        font-size: 17px;
        width: 100%;
        padding: 0;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.52);
        .username {
            padding: 4px 10px;
            display: inline-block;
            width: 300px;
        }
        .date {
            padding: 4px 10px;
            display: inline-block;
            width: 300px;
        }
    }
}


@media (max-width: 568px) {
    .description {
        font-size: 14px;
        .username {
            padding: 4px 10px;
            width: 240px;
        }
        .date {
            padding: 4px 10px;
            width: 240px;
        }
    }
}
