<div class="container article-container" [@childrenAppear]="article_exists" (window:mousemove)="show_nav_button($event)">
    <mat-card>
        <div class="title">
            {{ title ? title : 'Untitled'}}
        </div>
        <div class="description">
            <div class="username">作者：{{ article_user_name }}</div>
            <div class="date">发布时间：{{ article_create_time | date: 'y年MM月dd日 HH:mm:ss' }}</div>
            <div class="spacer"></div>
        </div>
        <div class="divider"></div>
        <markdown [data]="content ? content : 'Nothing Here'" [renderLatex]="render_latex" (click)="preview_image($event)"></markdown>
        <button #navHome mat-fab color="primary" (click)="goto_home($event)" class="markdown-showup" *ngIf="true">
            <mat-icon class="big-icon">account_balance</mat-icon></button>
        <button #navEditor mat-fab color="primary" (click)="goto_editor($event)" class="markdown-showup" *ngIf="true">
            <mat-icon class="big-icon">mode_edit</mat-icon></button>
        <button #navTop mat-fab color="primary" (click)="goto_top($event)" class="markdown-showup" *ngIf="true">
            <mat-icon class="big-icon">arrow_upward</mat-icon></button>
        <div class="last-next">
            <a class="last" routerLink="/article/">上一篇</a><span class="spacer"> </span><a class="next" routerLink="/article/">下一篇</a>
        </div>
    </mat-card>
</div>