@import '../../../assets/scss/material_theming.scss';
.about-container {
    opacity: 0;
}

.container {
    padding: 30px;
    margin: 0 auto;
    margin-top: 64px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
}

.title {
    font-family: $font-banner;
    font-size: 56px;
    padding-bottom: 0;
}



@media (max-width: 768px) {
    .container {
        padding: 0;
        margin-top: 48px;
    }
    .title {
        font-size: 32px;
    }
}