@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-grey);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@font-face {
    font-family: Zcool_fun;
    src: url('/assets/font/Zcool_fun.ttf');
}

$font-banner: 'Delius Swash Caps',
Zcool_fun,
Arial,
Helvetica,
sans-serif;

$font-title: 'Imprima',
Zcool_fun,
Arial,
Helvetica,
sans-serif;

$font-content: Arial,
Helvetica,
'Microsoft YaHei',
'Hiragino Sans GB',
'STHeiti Light',
sans-serif;

$font-list-text: 'Imprima',
Arial,
Helvetica,
'FangSong',
'STFangSong',

sans-serif;

$font-quote-text: 'Imprima',
Arial,
Helvetica,
'SimSun',
'STSong',
sans-serif;

$font-code: Monaco,
Inconsolata,
Consolas,
Andale Mono,
monospace;
