@import '~@angular/material/theming';
@include mat-core();
$la-primary: mat-palette($mat-indigo);
$la-accent: mat-palette($mat-pink, A200, A100, A400);
$la-warn: mat-palette($mat-red);
$la-theme: mat-light-theme($la-primary, $la-accent, $la-warn);
@include angular-material-theme($la-theme);
$primary: $mat-orange;
html {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.divider {
    padding: 0;
    margin: 0;
    height: 4px;
    width: 100%;
    background-color: map-get($primary, 500);
}