<div class="container home-container" [@childrenAppear]="home_exists">
    <mat-card>
        <div class="header-area">
            <p class="title home-title">
                Home Works!
            </p>
            <p class="create-button">
                <button mat-raised-button color="primary">Create Article</button>
            </p>
        </div>
        <mat-table #table [dataSource]="dataSource">

            <ng-container cdkColumnDef="title">
                <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="author">
                <mat-header-cell *cdkHeaderCellDef> Author </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{ row.author }} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="create_time">
                <mat-header-cell *cdkHeaderCellDef> Create Time </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{ row.create_time * 1000 | date: 'y-MM-dd HH:mm:ss' }} </mat-cell>
            </ng-container>
            <!-- <ng-container cdkColumnDef="create_time">
                <mat-header-cell *cdkHeaderCellDef> Creat Time </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <button mat-raised-button (click)="enterChat(row.chat_id)" class="action-button" color="primary">Enter</button>
                    <button *ngIf="ownThisChat(row.creator_ip)" mat-raised-button (click)="deleteChat(row.chat_id)" class="action-button" color="warn">Delete</button>
                </mat-cell>
            </ng-container> -->

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>