@import '../../../styles.scss';
.home-container {
    padding: 0;
    padding-top: 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.site-banner {
    z-index: 10;
    height: 340px;
    width: 100%;
    background-color: map-get($primary, 500);
    background-image: url(/assets/image/abs.png);
    background-attachment: fixed;
    background-clip: content-box;
    background-position-y: 570px;
    background-size: 1920px;
    background-repeat: repeat;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.2);
    h1 {
        margin: 0;
        padding-top: 122px;
        color: map-get($primary, 50);
        font-size: 5em;
        font-weight: normal;
    }
}