.header-area {
    margin: 0;
    padding: 0;
    width: 100%;
    .create-button {
        position: absolute;
        right: 3%;
        top: 186px;
    }
    .home-title {
        margin: 0;
        padding: 0;
    }
}

.home-container {
    opacity: 0;
}