@import '../../../assets/scss/material_theming.scss';
.container {
    margin-top: 0;
}

.index-container {
    opacity: 0;
}

.site-banner {
    z-index: 10;
    height: 276px;
    width: 100%;
    margin-top: 64px;
    background-color: map-get($primary, 500);
    background-image: url(/assets/image/abs.png);
    background-attachment: fixed;
    background-clip: content-box;
    background-position-y: 660px;
    background-size: 1920px;
    background-repeat: repeat;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
    transform: translateY(-276px);
    h1 {
        z-index: 100;
        margin: 0;
        padding-top: 75px;
        color: map-get($primary, 50);
        font-size: 5em;
        font-weight: normal;
    }
}

.article-list {
    width: 100%;
    .mat-button {
        min-width: 20px;
    }
}