<div class="site-banner" #banner [@bannerMove]="banner_move" (window:scroll)="onscroll($event)">
    <h1>Capture The Cat</h1>
</div>
<div class="container index-container" [@pageAppear]="page_appear">
    <mat-card>
        <div class="title">最新发布</div>
        <div class="article-list">
            <mat-table #table [dataSource]="category_source">

                <ng-container cdkColumnDef="title" aria-colspan="2">
                    <mat-header-cell *cdkHeaderCellDef> Article </mat-header-cell>
                    <mat-cell *cdkCellDef="let row" class="title-ceil"><a mat-button routerLink="/article/{{row.article_id}}" color="primary">{{row.title ? row.title : 'Untitled'}}</a></mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="author">
                    <mat-header-cell *cdkHeaderCellDef> Author </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{ row.user_name }} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="category">
                    <mat-header-cell *cdkHeaderCellDef> Category </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{ row.category_name }} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="create_time">
                    <mat-header-cell *cdkHeaderCellDef> Create Time </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{ row.create_time * 1000 | date: 'y-MM-dd HH:mm' }} </mat-cell>
                </ng-container>
                <mat-header-row *cdkHeaderRowDef="display_columns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: display_columns;"></mat-row>
            </mat-table>
        </div>
    </mat-card>
</div>