<div class="site-banner" #banner [@bannerMove]="banner_move">
    <div class="banner">Capture The Cat</div>
</div>
<div class="container index-container" [@pageAppear]="page_appear">
    <mat-card>
        <div class="category-list" id="anime-target">
            <div class="category-container"  *ngFor="let category of source.category_list">
                <mat-card class="category" [@activeCate]="source.current_category.category_id === category.category_id"
                    (click)="action.trig_article_list(category.category_id)">
                    {{ category.category_name }}
                </mat-card>
                <div class="category-hole">

                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-card>
</div>