<div class="site-banner" #banner [@bannerAnimation]="banner_exists" (window:scroll)="onscroll($event)">
    <h1>Chasing a Cat</h1>
</div>
<div class="container index-container" [@childrenAppear]="index_exists">
    <mat-card>

        <!-- <div class="divider"></div> -->
        <p class="content">这是本着自己做的工具最好用的想法，实现的一个博客网站。</p>
        <div class="article-list">
            <mat-table #table [dataSource]="dataSource">

                <ng-container cdkColumnDef="title" aria-colspan="2">
                    <mat-header-cell *cdkHeaderCellDef> Title </mat-header-cell>
                    <mat-cell *cdkCellDef="let row" class="title-ceil"><a mat-button routerLink="/article/{{row.article_id}}" color="primary">{{row.title ? row.title : 'Untitled'}}</a></mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="author">
                    <mat-header-cell *cdkHeaderCellDef> Author </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{ row.user_name }} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="category">
                    <mat-header-cell *cdkHeaderCellDef> Category </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{ row.category_name }} </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="create_time">
                    <mat-header-cell *cdkHeaderCellDef> Create Time </mat-header-cell>
                    <mat-cell *cdkCellDef="let row"> {{ row.create_time * 1000 | date: 'y-MM-dd HH:mm:ss' }} </mat-cell>
                </ng-container>
                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-card>
</div>