<div class="app-container" (window:scroll)="onscroll($event)">
    <mat-toolbar laNavBg [@navBarAnimation]="navbar_exists" [scrollTop]="scroll_top" [heightLimit]="height_limit" class="site-nav">
        <div class="nav-container">
            <a mat-button routerLink="/index" class="nav-font">
                <svg class="site-logo" style="width:30px;height:30px;position:relative;top:-2px;">
                        <defs>
                            <filter id="Gaussian_Blur">
                                <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
                            </filter>
                        </defs>
                        <circle class="inner-circle" cx="15.0" cy="15.0" r="12.0" filter="url(#Gaussian_Blur)"/>
                        <path class="path-1" d="M12.5 16.443375672974064 L11.345299461620748 18.443375672974064 L23.273502691896258 18.443375672974064 L16.154700538379252 6.113248654051871 L13.845299461620748 6.113248654051871 L19.809401076758505 16.443375672974064 L12.5 16.443375672974064" />
                        <path class="path-2" d="M11.345299461620748 18.443375672974064 L23.273502691896258 18.443375672974064 L22.118802153517006 20.443375672974064 L7.881197846482993 20.443375672974064 L13.845299461620748 10.113248654051871 L15.0 12.113248654051871 L11.345299461620748 18.443375672974064" />
                        <path class="path-3" d="M7.881197846482993 20.443375672974064 L6.726497308103742 18.443375672974064 L13.845299461620748 6.113248654051871 L19.809401076758505 16.443375672974064 L17.5 16.443375672974064 L13.845299461620748 10.113248654051871 L7.881197846482993 20.443375672974064" />
                    </svg>
                <span class="home-button">Star-T</span>
            </a>
            <a mat-button routerLink="/home" class="nav-font">
                <span class="nav-button">Home</span>
            </a>
            <a mat-button routerLink="/about" class="nav-font">
                <span class="nav-button">About</span>
            </a>
            <span class="nav-spacer"></span>
            <button mat-button class="nav-font" [matMenuTriggerFor]="menu">
                <span class="entry-button">{{ current_user }} <mat-icon>fingerprint</mat-icon></span>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item *ngIf="!is_logged()" routerLink="/auth"><span>Auth</span></button>
                <button mat-menu-item *ngIf="is_logged()" (click)="edit_profile($event)"><span>Profile</span></button>
                <button mat-menu-item *ngIf="is_logged()" (click)="log_out($event)"><span>Log Out</span></button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <div class="nav-bg "></div>
    <router-outlet></router-outlet>
    <router-outlet name="footer "></router-outlet>

</div>
<footer>
    <div class="footer-container ">
        <mat-grid-list cols="4 " rowHeight="45px ">
            <mat-grid-tile colspan="4 ">
                Powered by Angular ©2010-2017. Code licensed under an&nbsp;<a href="license " title="License text ">MIT-style License</a>.
            </mat-grid-tile>
            <mat-grid-tile colspan="4 ">
                <span class="text-caption "> </span> Version: 0.1.0&nbsp;<a href="http://www.miitbeian.gov.cn/ ">粤ICP备17088879号</a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</footer>