@import '../assets/scss/material_theming.scss';

.app-container {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.site-nav {
    opacity: 0;
    z-index: 50;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    top: 0;
    background-color: transparent;
    color: map-get($primary, 50);
    text-align: center;
    padding: 10px 10px;
    background-image: url(/assets/image/footer.png);
    background-position-y: 660px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.2);
    .nav-container {
        margin: 0 auto;
        display: flex;
        max-width: 1680px;
        width: 100%;
        .nav-spacer {
            flex: auto;
        }
        .nav-font {
            font-family: $font-banner;
            font-size: 24px;
            line-height: 36px;
            flex: initial;
            .home-button {
                font-weight: bolder;
                font-style: italic;
                position: relative;
                top: -3px;
            }
            .nav-button {
                position: relative;
                top: -3px;
            }
            .entry-button {
                font-family: $font-title;
                position: relative;
                top: -2px;
                mat-icon {
                    position: relative;
                    top: 3px;
                    font-size: 24px;
                    line-height: 34px;
                }
            }
            .site-logo {
            
                width: 30px;
                height: 30px;
                position: relative;
                top: -3px;
            }
        }
    }
}

footer {
    background-image: url(/assets/image/footer.png);
    background-size: 1920px;
    background-repeat: repeat;
    background-color: map-get($primary, 500);
    .footer-container {
        display: block;
        background-color: transparent;
        margin: 0 auto;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        color: map-get($primary, 50);
        .footer-content {
            display: inline-block;
            padding: 10px 20px;
            a {
                color: map-get($primary, 50);
                text-decoration: none;
            }
        }
    }
}

.nav-bg {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: map-get($primary, 500);
    z-index: 10;
}

.footer-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

@media (max-width: 768px) {
    .site-nav {
        height: 48px;
        min-height: 48px;
        background-position-y: 530px;
        background-position-x: 959px;
        padding: 0;
        .nav-container {
            height: 48px;
            .nav-font {
                font-size: 22px;
                min-width: 48px;
                line-height: normal;
                .home-button {
                    font-weight: bolder;
                    font-style: italic;
                    position: relative;
                    top: -2px;
                    padding: 0;
                }
                .nav-button{
                    position: relative;
                    top: -2px;
                }
                .entry-button {
                    font-family: $font-title;
                    position: relative;
                    top: -2px;
                    mat-icon {
                        position: relative;
                        top: 4px;
                    }
                }
                .site-logo {
                    width: 30px;
                    height: 30px;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    .nav-bg {
        height: 48px;
    }

    footer {
        .footer-container {
            padding: 10px;
        }
    }
}
