@import '../../../assets/scss/material_theming.scss';
$config: mat-typography-config();
$code_font: Monaco,
Inconsolata,
Consolas,
Andale Mono,
monospace;
.unicorn-title {
    @include mat-typography-level-to-styles($config, title);
}

.editor-input {
    width: calc(100% - 40px);
    padding-left: 20px;
}

.editor-title {
    width: 100%;
    font-size: 4em;
    border: none;
    &:focus {
        outline: none;
    }
}

.markdown-editor {
    z-index: 10;
    position: fixed;
    transition: transform 200ms ease-out;
    transform: translateX(-80%);
    top: 48%;
    left: 0;
}

.markdown-showup {
    z-index: 10;
    position: fixed;
    transition: transform 200ms ease-out;
    transform: translateX(80%);
    top: 48%;
    right: 0;
}

.input-test textarea {
    font-family: $code_font;
}

@keyframes nav-button {}

.dash-board {
    position: absolute;
    right: 3%;
    top: 126px;
    z-index: 9;
}

.category-editor {
    position: absolute;
    right: 13%;
    top: 113px;
    z-index: 9;
}

.editor-container {
    opacity: 0;
}

.divider {
    height: 20px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0;
}

.add-image-form {
    display: none;
}