<div class="container editor-container" #editorContainer [@childrenAppear]="editor_exists" (window:mousemove)="show_nav_button($event)">
    <mat-card>
        <div class="editor-title-container">
            <input [(ngModel)]="title" class="editor-title" placeholder="Untitled" maxlength="50" />
        </div>
        <div class="dash-board">
            <button mat-raised-button (click)="save_article()">Save</button>
            <button mat-raised-button color="primary" (click)="publish_article()">Publish</button>
        </div>
        <div class="category-editor">
            <mat-form-field>
                <mat-select [(ngModel)]="current_category_id">
                    <!-- <mat-select-trigger>You have selected: {{ select.selected?.category_name }}</mat-select-trigger> -->
                    <mat-option *ngFor="let category of categories" [value]="category.category_id">
                        {{ category.category_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="divider"></div>
        <mat-tab-group MatTabGroup [dynamicHeight]="dynamic_height" [selectedIndex]="tab_select" (selectedIndexChange)="select_change($event)" disableRipple="false" class="mat-editor">
            <mat-tab label="Input">
                <div class="input-test" id="tab1">
                    <mat-input-container class="editor-input">
                        <textarea matInput matTextareaAutosize [(ngModel)]="content" matAutosizeMinRows="30"></textarea>
                    </mat-input-container>
                </div>
            </mat-tab>
            <mat-tab label="Output">
                <div id="tab2">
                    <markdown [data]="content"></markdown>
                </div>
            </mat-tab>
        </mat-tab-group>
        <!-- <div class="editor-nav nav-left"> -->
        <button #navLeft mat-fab color="primary" (click)="select1($event)" class="markdown-editor" *ngIf="true" [@navAppear]="active">
                <mat-icon class="big-icon">navigate_before</mat-icon></button>
        <!-- </div> -->
        <!-- <div class="editor-nav nav-right"> -->
        <button #navRight mat-fab color="primary" (click)="select2($event)" class="markdown-showup" *ngIf="true" [@navAppear]="active">
                <mat-icon class="big-icon">navigate_next</mat-icon></button>
        <!-- </div> -->
    </mat-card>
</div>