<div (window:keydown)="boss_key($event)" class="container editor-container" #editorContainer [@pageAppear]="page_appear">
    <mat-card>
        <div class="editor-title-container">
            <input [(ngModel)]="title" class="editor-title" placeholder="Untitled" maxlength="50" #titleRef/>
        </div>
        <div class="category-editor">
            <mat-form-field>
                <mat-select [(ngModel)]="current_category.category_id" (change)="article_change($event)">
                    <mat-option *ngFor="let category of categories" [value]="category.category_id">
                        {{ category.category_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="divider" *ngIf="outer_width > 768"></div>
        <div class="page-progress" #progressBarContainer [@progressAppear]="progress_state">
            <mat-progress-bar #progressBar color="accent" mode="determinate" [value]="progress_value"> </mat-progress-bar>
        </div>
        <mat-tab-group MatTabGroup dynamicHeight="true" [selectedIndex]="tab_select" (selectedIndexChange)="select_change($event)">
            <mat-tab label="{{ unsaved() }} 编辑">
                <div class="input-test" id="tab1">
                    <mat-input-container class="editor-input">
                        <textarea matInput matTextareaAutosize [(ngModel)]="content" [matAutosizeMinRows]="content_rows" (keydown)="input_translate($event)"
                            #contentRef></textarea>
                    </mat-input-container>
                </div>
            </mat-tab>
            <mat-tab label="预览">
                <div id="tab2">
                    <markdown [data]="content" [renderLatex]="render_latex"></markdown>
                </div>
            </mat-tab>
        </mat-tab-group>
        <!-- <la-nav-button [buttonList]="button_list"></la-nav-button> -->
    </mat-card>
    <form class="add-image-form" action="" method="post" enctype="multipart/form-data" #imageForm>
        <label for="image_uploads">Choose file to upload</label>
        <input type="file" accept="image/*" id="image_uploads" name="file" multiple #imageUpload (change)="upload_file($event)" />
        <input type="text" name="image_type" value="image" />
        <input type="submit" value="Save" (click)="upload_file($event)" />
    </form>

</div>