@import '../../../assets/scss/material_theming.scss';
$config: mat-typography-config();
.editor-input {
    width: calc(100% - 40px);
    padding-left: 20px;
}

.editor-title {
    width: 100%;
    font-size: 48px;
    border: none;
    font-family: $font-title;
    outline: none;
}


.input-test textarea {
    font-family: $font-code;
    font-size: 20px;
    line-height: 28px;
}

.dash-board {
    position: absolute;
    right: 3%;
    top: 102px;
    z-index: 9;
}

.category-editor {
    position: absolute;
    right: 20px;
    top: 90px;
    z-index: 9;
}

.editor-container {
    opacity: 0;
}

.divider {
    width: 100%;
    background-color: #ffffff;
    margin-top: 0;
    opacity: 0;
}

.page-progress {
    // margin-bottom: 15px;
    position: relative;
    top: 54px;
    width: 100%;
    height: 5px;
    background-color: #ff0000;
    opacity: 0;
}

.add-image-form {
    display: none;
}

@media (max-width: 768px) {
    .editor-container {
        padding: 0;
        margin-top: 48px;
    }

    .editor-title {
        width: 100%;
        font-size: 2.4rem;
    }

    .category-editor {
        position: initial;
        text-align: right;
        z-index: 9;
    }

    .input-test textarea {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}