<div (window:keydown)="boss_key($event)" class="container editor-container" #editorContainer [@pageAppear]="page_appear" (window:mousemove)="show_nav_button($event)">
    <mat-card>
        <div class="editor-title-container">
            <input [(ngModel)]="title" class="editor-title" placeholder="Untitled" maxlength="50" #titleRef/>
        </div>
        <div class="dash-board">
            <button mat-raised-button color="warn" (click)="delete_confirm($event)">删除文章</button>
        </div>
        <div class="category-editor">
            <mat-form-field>
                <mat-select [(ngModel)]="current_category.category_id" (change)="article_change($event)">
                    <mat-option *ngFor="let category of categories" [value]="category.category_id">
                        {{ category.category_name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="divider"></div>
        <div class="page-progress" #progressBarContainer [@progressAppear]="progress_state">
            <mat-progress-bar #progressBar color="accent" mode="determinate" [value]="progress_value"> </mat-progress-bar>
        </div>
        <mat-tab-group MatTabGroup dynamicHeight="true" [selectedIndex]="tab_select" (selectedIndexChange)="select_change($event)">
            <mat-tab label="{{ unsaved() }} 编辑">
                <div class="input-test" id="tab1">
                    <mat-input-container class="editor-input">
                        <textarea matInput matTextareaAutosize [(ngModel)]="content" [matAutosizeMinRows]="content_rows" #contentRef></textarea>
                    </mat-input-container>
                </div>
            </mat-tab>
            <mat-tab label="预览">
                <div id="tab2">
                    <markdown [data]="content" [renderLatex]="render_latex"></markdown>
                </div>
            </mat-tab>
        </mat-tab-group>

        <button #navHome mat-fab color="primary" (click)="save_button_click($event)" class="markdown-showup" *ngIf="true" [matTooltip]="save_button_outlet()" matTooltipPosition="left">
                <mat-icon class="big-icon">{{ save_button_icon() }}</mat-icon></button>
        <button #navAddImage mat-fab color="primary" (click)="select_file_click($event)" class="markdown-showup" *ngIf="true" matTooltip="插入图片 (ctrl + P)" matTooltipPosition="left">
                <mat-icon class="big-icon">insert_photo</mat-icon></button>
        <button #navView mat-fab color="primary" (click)="preview_button_click($event)" class="markdown-showup" *ngIf="true" [matTooltip]="preview_button_outlet()" matTooltipPosition="left">
                <mat-icon class="big-icon">{{ preview_button_icon() }}</mat-icon></button>
        <button #navTop mat-fab color="primary" (click)="go_top($event)" class="markdown-showup" *ngIf="true" matTooltip="回到顶部 (ctrl + ↑)" matTooltipPosition="left">
                <mat-icon class="big-icon">arrow_upward</mat-icon></button>

    </mat-card>
    <form class="add-image-form" action="/middle/file" method="post" enctype="multipart/form-data" #imageForm>
        <label for="image_uploads">Choose file to upload</label>
        <input type="file" id="image_uploads" name="file" multiple #imageUpload (change)="upload_file($event)" />
        <input type="submit" value="Save" (click)="upload_file($event)" />
    </form>

</div>