<div class="container auth-container" [@childrenAppear]="auth_exists" (window:keydown)="boss_key_down($event)">
    <mat-card>
        <p class="title">
            <span class="tab-info" style="opacity: 0" [@tab]="!tab_select">欢迎登录Lazor Blog</span>
            <span class="tab-info" style="opacity: 0" [@tab]="tab_select">欢迎加入Lazor Blog</span>
        </p>
        <div class="divider"></div>
        <mat-tab-group MatTabGroup [dynamicHeight]="true" [selectedIndex]="tab_select" (selectedIndexChange)="action.select_change($event)" disableRipple="false" class="mat-editor">
            <mat-tab label="登陆">
                <div class="tab-content-container">
                    <div class="big-box" (keydown)="sign_in($event)">
                        <mat-input-container class="long-input">
                            <mat-placeholder>
                                邮箱/用户名
                                <mat-icon>mode_edit</mat-icon>
                            </mat-placeholder>
                            <input matInput [(ngModel)]="sign_in_data.name" />
                        </mat-input-container>
                        <br/>
                        <mat-input-container class="long-input ">
                            <mat-placeholder>
                                密码
                                <mat-icon>mode_edit</mat-icon>
                            </mat-placeholder>
                            <input matInput [(ngModel)]="sign_in_data.password" type="password" />
                        </mat-input-container>
                        <div>
                            <button mat-raised-button color="primary" (click)="sign_in($event)">提交</button>
                        </div>
                    </div>
                    <div class="info-box">
                        <p class="text-normal">
                            注册说明：
                        </p>
                        <p class="text-normal-plus message">
                            由于服务器资源有限，注册后请发邮件给作者进行激活。
                        </p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="注册">
                <div class="tab-content-container">
                    <div class="big-box" (keydown)="sign_up($event)">
                        <mat-input-container class="long-input">
                            <mat-placeholder>
                                用户名
                                <mat-icon>mode_edit</mat-icon>
                            </mat-placeholder>
                            <input matInput [(ngModel)]="sign_up_data.username" />
                        </mat-input-container>
                        <br/>
                        <mat-input-container class="long-input">
                            <mat-placeholder>
                                邮箱
                                <mat-icon>mode_edit</mat-icon>
                            </mat-placeholder>
                            <input matInput [(ngModel)]="sign_up_data.email" />
                        </mat-input-container>
                        <br/>
                        <mat-input-container class="long-input ">
                            <mat-placeholder>
                                密码
                                <mat-icon>mode_edit</mat-icon>
                            </mat-placeholder>
                            <input matInput [(ngModel)]="sign_up_data.password" type="password" />
                        </mat-input-container>
                        <div>
                            <button mat-raised-button color="primary" (click)="sign_up($event)">提交</button>
                        </div>
                    </div>
                    <div class="info-box">
                        <p class="text-normal">
                            注册说明：
                        </p>
                        <p class="text-normal-plus message">
                            由于服务器资源有限，注册后请发邮件给作者进行激活。
                        </p>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>