.title {
    padding-bottom: 0;
    margin-bottom: 0;
}

.long-input {
    width: 30%;
    min-width: 340px;
}

.big-box {
    margin: 20px;
}

.divider {
    height: 20px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0;
}

.auth-container {
    opacity: 0;
}