@import './assets/scss/material_theming.scss';
@import './assets/scss/highlight.scss';
@import './assets/scss/markdown.scss';
@import './assets/scss/google-font.scss';

html {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    body {
        font-size: 1.4rem;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        width: 100%;
        height: calc(100% - 64px); // height: 100%;
        display: block;
        padding: 0;
        margin: 0;
        background-color: map-get($mat-grey, 300);
    }
}

.divider {
    padding: 0;
    margin: 0;
    height: 4px;
    width: 100%;
    background-color: map-get($accent, 500);
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    padding: 30px;
    margin: 0 auto;
    margin-top: 64px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
}

.title {
    font-family: $font-title;
    font-size: 48px;
    padding-bottom: 20px;
}

.content {
    font-family: $font-content;
    font-size: 1.5em;
}

.text-primary {
    color: map-get($primary, 500);
}

.text-accent {
    color: map-get($accent, 500);
}

.text-warn {
    color: map-get($warn, 500);
}

.text-giant {
    font-size: 48px;
}

.text-large {
    font-size: 36px;
}

.text-normal-plus {
    font-size: 24px;
}

.text-normal {
    font-size: 18px;
}

.text-mini {
    font-size: 14px;
}

.text-nano {
    font-size: 10px;
}

mat-dialog-container.mat-dialog-container {
    max-width: none;
}

.sortable-ghost {
    opacity: 1;
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
        padding-bottom: 10px;
    }
}
